:root{
    --width:45%
}
*{
    font-family: 'robot';
}
body{
    
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 20px;
    background-color: rgb(248, 248, 246);
}
.wrapper{
    display: inline-flex;
}
.wrapper .static-txt{
    font-size: 50px;
    font-weight: 400;
}
.wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 80PX;
    font-size: 3px;
    overflow: hidden;
}
.dynamic-txts li{
    color: #FC6D6D;
    list-style: none;
    font-size: 80px;
    font-weight: 500;
    position: relative;
    top: 0;

    animation: slide 6s steps(4) infinite;
}
@keyframes slide{
    100%{
        top: -360px;
    }
}

.dynamic-txts li span{
    position: relative;
}

.dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(248, 248, 246);
    border-left: 2px solid black;
    animation: typing 1.5s steps(10) infinite;
}

@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
} */

h1{
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
}
table{
    /* width: 55%; */
    font-size: 25px;
    overflow-y: scroll;
    height: 500px;
    display: block;
    
    border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  
    font-size: 100%;
    min-width: 25%;
}
#table_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
th{
    color: #b6c7f7;
    text-align:  center;
    width: fit-content;
}
td{
    text-align: center;
}
tbody{
    width: 100%;
}
tbody tr:nth-child(even){
    background-color: #0000000b;
}
tbody tr:hover {
    background-color: #fff6;
}

thead tr{
    background-color: rgb(26, 29, 29);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
.header{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    min-width: 30%;
    position:fixed;
}

.form{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}
#multiMethodForm{
    display: none;
    flex-direction: column;
}
#squareMethodForm{
    display: none;
    flex-direction: column;
}
#aditiveMethodForm{
    display: none;
    flex-direction: column;
}
#multiplicativeMethodForm{
    display: none;
}
.input-group{
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    width: 100%

}
.seed_input{
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 15px;
    margin-right: 5PX;
 
}
.radio{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#nyan{
    width: 100%;
}
#aaa{
    width: 100%;
    justify-content: space-around;
}
button:hover {
    background-color:cadetblue;
    color: #ddd;
    cursor: pointer;
  }
button{
    
    width:100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 10px;
    font-size: 15px;
    background-color: #ddd;
    cursor: pointer;
}
#forms{
    width:var(--width);
}

#obs{
   
  margin-left: auto;
  margin-right: auto;
  
    font-size: 100%;
    min-width: 25%;
text-align: center;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 15px;
    margin-right: 5PX;
}

@media (max-width:860px)  {
    .header{
        flex-direction: column;
    }  
    .input-group{
        flex-direction: column;
    }
}

select{
    box-shadow: 0 10px 25px rgba(red, green, blue, alpha);
    font-size: 1.5rem;
    padding: 1em 1,5em;
    background: #4d5061;
    color: white;
    border: 0;
}
